body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#imageContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-wrapper {
  margin: 0 10px;
}

img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  border: 1px solid black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.row {
  font-size: 12px;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 8px;
}
